<form action="/store/favourite-list" method="post">
  <button type="submit" class="bg-green-300 rounded-lg
  ml-0 m-5 p-2 hover:bg-green-500">Add to Favourites</button>
  <input type="hidden" name="id" value="<%= home.Id%>">
</form>